@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animate {
    display: flex;
    animation: fadeIn 1s ease-in-out;
  }
  
  .hidden {
    display: hidden;
  }